<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.board.mapper.CodeMapper">
	<!-- 타입코드 이름 -->
	<select id="selectCodeName" parameterType="String" resultType="String">
		SELECT co_name
		FROM codeDetail
		WHERE co_code=#{co_code}
	</select>
</mapper>